<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>House Perfect</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Awesome icons -->
    <link rel="stylesheet" href="css/web-fonts-with-css/css/fontawesome-all.min.css">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/gallery.css">
    <link rel="stylesheet" href="css/slder.css">
    <link rel="stylesheet" href="css/estiloAltas.css">
    <link rel="stylesheet" href="css/estilogaleria.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/altas.js"></script>
    <link rel="stylesheet" type="text/css" href="css/quienes/css/component.css" />
	<script src="css/quienes/js/modernizr.custom.js"></script>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light  border border-top-0  border-right-0 border-left-0 border-dark " style="background-color: white;">
        <div class="container">
            <a class="navbar-brand" href="index">
                <img src="img/logo.jpg" width="110" height="90" class="d-inline-block align-top" alt="LOGO">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="color: black;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="letter-spacing: 3px;" href="quienes">QUIÉNES SOMOS
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>


                    <li class="pt-1 pl-1 pr-1">
                        <span>
                            <i class="fa fa-circle" style="font-size:8px;color:LightSeaGreen ;"></i>
                        </span>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" style="letter-spacing: 3px;" href="servicios">SERVICIOS</a>
                    </li>

                    <li class="pt-1 pl-1 pr-1">
                        <span>
                            <i class="fa fa-circle" style="font-size:8px;color:LightSeaGreen ;"></i>
                        </span>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link active" style="letter-spacing: 3px;" href="busqueda">BÚSQUEDA</a>
                    </li>

                    <li class="pt-1 pl-1 pr-1">
                        <span>
                            <i class="fa fa-circle" style="font-size:8px;color:LightSeaGreen ;"></i>
                        </span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" style="letter-spacing: 3px;" href="contacto">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Content page-->

    <header>

        <div class="container-fluid">
            <div class="row pt-5">
        
                <ul class="galeria">
                    <li>
                        <a href="#img1">
                            <img src="http://www.paisajesimagenes.com/wp-content/uploads/Descripci%C3%B3n-de-paisajes..jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#img2">
                            <img src="http://neo-deco.es/wp-content/uploads/2013/01/Paisaje-de-monta%C3%B1a.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#img3">
                            <img src="http://www.paisajesimagenes.com/wp-content/uploads/Descripci%C3%B3n-de-paisajes..jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#img4">
                            <img src="http://neo-deco.es/wp-content/uploads/2013/01/Paisaje-de-monta%C3%B1a.jpg">
                        </a>
                    </li>
                </ul>

                <div class="modal" id="img1">
                    <h3>Paisaje 1</h3>
                    <div class="imagen">
                        <a href="#img4">&#60;</a>
                        <a href="#img2">
                            <img src="http://www.paisajesimagenes.com/wp-content/uploads/Descripci%C3%B3n-de-paisajes..jpg">
                        </a>
                        <a href="#img2">></a>
                    </div>
                    <a class="cerrar" href="">X</a>
                </div>

                <div class="modal" id="img2">
                    <h3>Paisaje 2</h3>
                    <div class="imagen">
                        <a href="#img1">&#60;</a>
                        <a href="#img3">
                            <img src="http://neo-deco.es/wp-content/uploads/2013/01/Paisaje-de-monta%C3%B1a.jpg">
                        </a>
                        <a href="#img3">></a>
                    </div>
                    <a class="cerrar" href="">X</a>
                </div>

                <div class="modal" id="img3">
                    <h3>Paisaje 3</h3>
                    <div class="imagen">
                        <a href="#img2">&#60;</a>
                        <a href="#img4">
                            <img src="http://www.paisajesimagenes.com/wp-content/uploads/Descripci%C3%B3n-de-paisajes..jpg">
                        </a>
                        <a href="#img4">></a>
                    </div>
                    <a class="cerrar" href="">X</a>
                </div>

                <div class="modal" id="img4">
                    <h3>Paisaje 4</h3>
                    <div class="imagen">
                        <a href="#img3">&#60;</a>
                        <a href="#img1">
                            <img src="http://neo-deco.es/wp-content/uploads/2013/01/Paisaje-de-monta%C3%B1a.jpg">
                        </a>
                        <a href="#img1">></a>
                    </div>
                    <a class="cerrar" href="">X</a>
                </div>
            </div>
        </div>
    </header>

    <div style="padding-left: 35%" class="pt-5 mt-5">
        <a href="contacto"><button class="btn btn-3 btn-3e icon-arrow-right">CONTÁCTANOS</button></a>
    </div>  

    <a href="" onclick="topFunction()" id="myBtn">
        <i class="fa fa-chevron-up"></i>
    </a>


    <!-- Footer -->
    <footer class="py-2 mt-5  fixed-bottom" style="background-color: #C0C0C0">
        <div class="container" style="height: 5%;">
            <br>
            <h6 class="text-left text-black">&copy; Todos los derechos reservados a Perfect House 2018</h6>
        </div>
        <a id="back-to-top" href="#" class="show"></a>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap code JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- My JavaScript code -->
    <script src="js/scroll.js"></script>
    <script src="js/dots.js"></script>
    <script src="js/gallery.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/getData.js"></script>

</body>

</html>