<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>House Perfect</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Awesome icons -->
  <link rel="stylesheet" href="css/web-fonts-with-css/css/fontawesome-all.min.css">

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light  border border-top-0  border-right-0 border-left-0 border-dark " style="background-color: white;">
    <div class="container">
      <a class="navbar-brand active" href="index">
        <img src="img/logo.jpg" width="110" height="90" class="d-inline-block align-top" alt="LOGO">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="color: black;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="letter-spacing: 3px;" href="quienes">QUIÉNES SOMOS
              <span class="sr-only">(current)</span>
            </a>
          </li>


          <li class="pt-1 pl-1 pr-1">
            <span>
              <i class="fa fa-circle" style="font-size:8px;color:LightSeaGreen ;"></i>
            </span>
          </li>


          <li class="nav-item">
            <a class="nav-link" style="letter-spacing: 3px;" href="servicios">SERVICIOS</a>
          </li>

          <li class="pt-1 pl-1 pr-1">
            <span>
              <i class="fa fa-circle" style="font-size:8px;color:LightSeaGreen ;"></i>
            </span>
          </li>


          <li class="nav-item">
            <a class="nav-link" style="letter-spacing: 3px;" href="busqueda">BÚSQUEDA</a>
          </li>

          <li class="pt-1 pl-1 pr-1">
            <span>
              <i class="fa fa-circle" style="font-size:8px;color:LightSeaGreen ;"></i>
            </span>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="letter-spacing: 3px;" href="contacto">CONTACTO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('img/Imagen1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <!--<h3>First Slide</h3>
              <p>This is a description for the first slide.</p>-->
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('img/Imagen2.jpeg')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('img/Imagen3.jpeg')">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>


  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h2 class="center-text pb-4">QUÉ HACEMOS</h2>
      <hr class="style17 icon pb-3">
    </div>
  </section>

  <div class="container pb-5 mt-5 mb-5">
    <div class="row">
      <div class="col">
        <h3>Construcción</h3>
        <p style="color: Gray">Con mas de cinco años de experiencia; contamos con personal altamente calificado para la gestión y desarrollo de
          proyectos de cualquier magnitud.</p>
      </div>
      <div class="col">
        <h3>Reparación</h3>
        <p style="color: Gray">Creemos que un espacio puede recobrar vida con una reparación sabiendo aprovechar los recursos con los que se cuenta.</p>
      </div>
      <div class="col">
        <h3>Venta y Renta</h3>
        <p style="color: Gray">Descripcion dada por la duena</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="img/remplazar1.jpg" alt="" height="200" width="350">
      </div>
      <div class="col">
        <img src="img/remplazar2.jpeg" alt="" height="200" width="350">
      </div>
      <div class="col">
        <img src="img/remplazar3.jpg.jpg" alt="" height="200" width="350">
      </div>
    </div>
  </div>


  <div class="container-fluid cool-dots pt-5 pb-5">
    <div class="py-5">
      <div class="container pb-5">
        <h1 class="center-text shadow" style="color: lightGray;">NUESTRO PROCESO</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="dot" id="uno">
              Cita y Acuerdo

            </div>
          </div>
          <div class="col">
            <div class="dot" id="dos">
              Idea y Concepto
            </div>
          </div>
          <div class="col">
            <div class="dot" id="tres">
              Diseñar y Crear
            </div>
          </div>
          <div class="col">
            <div class="dot" id="cuatro">
              Construir e Instalar
            </div>
          </div>
        </div>
        <div class="row">
          <div class="vl1 mx-5">
          </div>
          <div class="vl2">
          </div>
          <div class="vl3 mx-5">
          </div>
          <div class="vl4">
          </div>
          <div class="hl">
            <p class="center-text shadow" style="color: white" id="1">
              Reunión con el cliente para entender lo que necesita y poder ofrecerle lo que tiene en mente
            </p>
            <p class="center-text shadow" style="color: white; display: none;" id="2">
              Hacer una lluvia de ideas para que junto con lo que se obtiene del cliente se pueda conceptualizar el proyecto
            </p>
            <p class="center-text shadow" style="color: white; display: none;" id="3">
              Plasmar todas las ideas en una propuesta para llevarla a ejecución
            </p>
            <p class="center-text shadow" style="color: white; display: none;" id="4">
              Llevar a cabo todas las ideas y complacer al cliente con lo que se imaginó
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5">
    <div class="row" style="border-bottom: 1px solid black;">
      <h6>
        <b style="color: LightSeaGreen">Teléfono:</b>&nbsp; ### ### ## ##</h6>
    </div>
    <div class="row pt-3" style="border-bottom: 1px solid black;">
      <h6>
        <b style="color: LightSeaGreen">Email:</b>&nbsp; ### ### ## ##</h6>
    </div>
  </div>

  <!--Back to the top button-->
  <a href="" onclick="topFunction()" id="myBtn">
    <i class="fa fa-chevron-up"></i>
  </a>

  <!-- Footer -->
  <footer class="py-2 mt-5" style="background-color: #C0C0C0">
    <div class="fluid-container" style="height: 5%;">
      <br>
      <h6 class="text-left text-black pl-5 ml-5">&copy; Todos los derechos reservados a Perfect House 2018 <a href="login" style="padding-left:60%" >login</a></h6> 
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap code JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- My JavaScript code -->
  <script src="js/scroll.js"></script>
  <script src="js/dots.js"></script>

</body>

</html>