<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/registro_style.css">
  
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>

<body>


  <div class="text-center" style="padding:50px 0">
    <!--LOGIN-->
    <div class="text-center" style="padding:50px 0">
      <div class="logo" style="color: LightSeaGreen">Iniciar seción</div>
      <!-- Main Form -->
      <div class="login-form-1">
        <form class="text-left" method="POST" action="/login">
          <div class="login-form-main-message"></div>
          <div class="main-login-form">
            <div class="login-group">
              <div class="form-group">
                <b style="color: #696969">Usuario:</b>
                <br>
                <input type="text" class="form-control" id="lg_username" name="Username" placeholder="">
              </div>
              <div class="form-group">
                <b style="color: #696969">Contraseña:</b>
                <br>
                <input type="password" class="form-control" id="lg_password" name="Password" placeholder="">
              </div>
            </div>
            <button type="submit" class="login-button">
              <i class="fa fa-chevron-right"></i>
            </button>
        </form>
        </div>
      </div>
    </div>


    <!-- Bootstrap code JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- My JavaScript code -->
    <script src="js/scroll.js"></script>
    <script src="js/dots.js"></script>
</body>

</html>